* {
    box-sizing: border-box;
}
button {
    cursor: pointer;
    margin: 0 5px;
}
button:disabled {
    cursor: not-allowed;
}
.container {
    padding: 10px;
}
.svgClass {
    display: block;
    position: relative;
    width: 65px;
    margin-bottom: -14px;
}
.svgClass-animated {
    animation: linear drive;
    animation-fill-mode: forwards;
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

@keyframes drive {
    from {
        left: 0;

    }
    to{
        left: 90%;
    }
}

.car-block {
    padding: 0;
    border: solid rgb(46 45 45);
    border-width: 0 0 5px 0;
    margin-bottom: 20px;
    background-image: url(./4211321-200.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 90% 26px;
}

.car-name {
    display: inline-block;
    width: 175px;
    margin: 0;
}
td,th {
    width: 100px;
    text-align: center;
}

.winners-block {
    display: none;
}
.page-number {
    margin: 0 10px;
}

.winner-pop-up {
    display: none;
    position: absolute;
    width: 390px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(183 52 52 / 100%);
    border-radius: 10px;
}
.winner-pop-up-visible {
    display: block;
}
.winner-pop-up-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner-time, .winner-name {
    font-size: 28px;
}

.winner-img {
    width: 125px;
}