* {
    box-sizing: border-box;
}
button {
    cursor: pointer;
    margin: 0 5px;
}
button:disabled {
    cursor: not-allowed;
}
.container {
    padding: 10px;
}
.svgClass {
    display: block;
    position: relative;
    width: 65px;
    margin-bottom: -14px;
}
.svgClass-animated {
    animation: 3s linear 1s drive forwards;
}

@keyframes drive {
    from {
        left: 0;

    }
    to{
        left: 90%;
    }
}

.car-block {
    padding: 0;
    border: solid rgb(46 45 45);
    border-width: 0 0 5px 0;
    margin-bottom: 20px;
    background-image: url(./4211321-200.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 90% 26px;
}

.car-name {
    display: inline-block;
    width: 175px;
    margin: 0;
}
td,th {
    width: 100px;
    text-align: center;
}

.winners-block {
    display: none;
}
.page-number {
    margin: 0 10px;
}